@import url(./fonts.css);
@import url(./vendor/normalize.css);

.page {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fad4a2), to(#324b6f));
  background-image: -o-linear-gradient(#fad4a2, #324b6f);
  background-image: linear-gradient(#fad4a2, #324b6f);
  font-family: 'Montserrat', 'Helvetica', 'Aerial', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #FF9A2E;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container__title-link {
  text-decoration: none;
  color: #000;
}

.container__title {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 20px 0;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: ackground-color .2s linear;
  -o-transition: ackground-color .2s linear;
  transition: ackground-color .2s linear;
}

.container__title:hover {
  background-color: rgba(255, 255, 255, .2);
}

.container__text-area {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  margin: 0 0 auto 0;
}

.container__paragraph {
  margin: 0 0 20px 0;
}

.container__paragraph:last-child {
  margin: 0;
}

.container__span {
  font-size: 20px;
  font-weight: 700;
}

.container__smile {
  display: block;
  font-size: 60px;
  margin: 0 0 20px 0;
}

.container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.container__form-input {
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  padding: 0 0 0 20px;
  border: 4px solid #fff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border .2s linear;
  -o-transition: border .2s linear;
  transition: border .2s linear;
  outline: none;
}

.container__form-input:hover {
  border: 4px solid #16C571;
}

.container__form-input:focus {
  border: 4px solid #1fa9d3;
}

.container__form-input::-webkit-input-placeholder {
  font-weight: 700;
}

.container__form-input::-moz-placeholder {
  font-weight: 700;
}

.container__form-input:-ms-input-placeholder {
  font-weight: 700;
}

.container__form-input::-ms-input-placeholder {
  font-weight: 700;
}

.container__form-input::placeholder {
  font-weight: 700;
}

.container__form-input_type_amnt {
  width: 200px;
  margin: 0 20px 0 0;
}

.container__form-input_type_perc {
  width: 100px;
  margin: 0 auto 0 0;
}

.btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .4);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.btn:hover {
  background-color: #16C571;
}

@media screen and (max-width: 470px) {
  .container__title {
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  .container__text-area {
    font-size: 14px;
  }

  .container__paragraph {
    margin: 0 0 10px 0;
  }

  .container__span {
    font-size: 16px;
  }

  .container__smile {
    font-size: 40px;
    margin: 0 0 10px 0;
  }

  .container__form-input {
    font-size: 18px;
    height: 50px;
    padding: 0 0 0 13px;
  }

  .container__form-input_type_amnt {
    width: 150px;
    margin: 0 15px 0 0;
  }

  .container__form-input_type_perc {
    width: 50px;
    margin: 0 auto 0 0;
  }

  .btn {
    width: 50px;
    height: 50px;
  }

  .btn__img {
    width: 30px;
    height: 20px;
  }
}

@media screen and (max-width: 360px) {
  .container__form-input {
    font-size: 14px;
    height: 40px;
  }

  .container__form-input_type_amnt {
    width: 150px;
    margin: 0 15px 0 0;
  }

  .container__form-input_type_perc {
    width: 50px;
    margin: 0 auto 0 0;
  }

  .btn {
    width: 40px;
    height: 40px;
  }

  .btn__img {
    width: 24px;
    height: 12px;
  }
}